name : Deploy Backend

on: 
    push:
      paths:
        - "Server/**"
      branches: ["main"]

jobs:
    deploy-backend:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: ./Server
        steps:
            - uses: actions/checkout@v4

            - name: docker building app
              run: docker build -t ${{secrets.DOCKER_USERNAME}}/devconnect-server:latest .

            - name: docker login
              run: echo "${{secrets.DOCKER_TOKEN}}" | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin

            - name: docker push
              run: docker push ${{secrets.DOCKER_USERNAME}}/devconnect-server:latest 
            

    