name: Deploy frontend to dockerhub

on:
    push:
        paths:
            - "Client/**"
        branches: ["main"]


jobs:
    docker-build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./Client
        steps:
            - uses: actions/checkout@v4
            - name: docker build
              run: docker build -t ${{secrets.DOCKER_USERNAME}}/devconnect-client:latest .

            - name: docker login
              run: echo "${{secrets.DOCKER_TOKEN}}" | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin

            - name: docker push
              run: docker push ${{secrets.DOCKER_USERNAME}}/devconnect-client:latest
